# Global .gitignore
.DS_Store
node_modules/
package.json
node_modules/.package-lock.json
node_modules/clone/clone.iml
package.json
package.json
node_modules/clone/clone.iml
package.json
yarn.lock
package.json
